*,
*:before,
*:after {
    box-sizing: border-box
}

:root {
    font-family: "Adwaita Sans", Helvetica, Arial, sans-serif;
    line-height: 1.7;
    font-weight: 400;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
    :root {
        --text-color: rgba(0, 0, 0, 1);
        --bg-color: rgba(255, 255, 255, 1);
        --border-color: rgba(180, 180, 180, 1);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: rgba(255, 255, 255, 1);
        --bg-color: rgba(0, 0, 0, 1);
        --border-color: rgba(120, 120, 120, 1);
    }
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 2rem;
    color: var(--text-color);
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
}

main {
    max-width: 800px;
}

header {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: baseline;
}

footer {
    font-size: 0.8rem;
    font-weight: 300;
    margin-top: 2rem;
}

ul>time {
    margin: 1rem;
}

time {
    font-size: 0.8rem;
    font-weight: 300;
}

a {
    text-decoration: underline;
    transition: text-shadow 0.3s ease-in-out;
}

a[href^="https"]::after {
    content: "_↗";
    margin-left: 4px;
}

a:hover {
    text-shadow: 0 0 2px var(--text-color);
    transform: translateY(20px);
}

#webring {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding-top: 3rem;
}

blockquote {
    margin: 0;
    padding-left: 1rem;
    border-left: 4px solid var(--border-color);
}

code {
    border: 1px dashed var(--border-color);
    border-radius: 4px;
    padding: 4px;
}

pre {
    border: 1px dashed var(--border-color);
    border-radius: 4px;
    padding: 8px;
}
